In [1]:
#first day 
2 + 2

4

In [ ]:
a  = 2 
b  = 4
a + b

In [ ]:
a  = 2 
b  = 2 
c = a + b
print(c)

In [ ]:
a  = 2 
b  = 2.5
c = a + b
print(c)

In [ ]:
type(c)

In [ ]:
type(1.5)

In [ ]:
type(1)

In [ ]:
type(1+5j)

In [ ]:
type('hello python')

In [ ]:
name = input('What is your name? : -   ') #promts user input in console and store in a variable
print('Welcome to the wonderfull world of Python ' + name) # prints to console
print("Nice to have you")

In [ ]:
age = int(input("my age is : - "))
add = age + 10
print(add)

In [ ]:
r = int(input("Enter circle radius : - "))
area = 3.14 * r * r 
diameter = 2 * r 
print(int(area))
print(float(diameter))

In [ ]:
v = "vivekpatillllllllll"
len(v)

In [ ]:
num = 100 # variable assignement
print(type(num)) # <class 'int'>

num2 = 99.99
print(type(num2)) # <class 'float>

expression1 = num * 10
print(type(expression1)) # <class 'int'>

expression2 = num + num2
print(type(expression2)) # <class 'float'>

In [ ]:
import math
print(round(2.1)) # 2
print(round(5.9)) # 6
print(abs(-34)) # 34

In [ ]:
#Strings in Python are an ordered sequence of characters (similar to C).

name = 'Python' # string assignment within single quotes
name2 = "Python" # string assingment within double quotes
name3 = '''This is a a very long string and supports 
            multiline statements as well''' # string assingment within 3 single quotes
name4 = 'Hello! \"Rockstar Programmer\"' # string with escaped character sequence
print(name) # <class 'str'>
print(name2) # <class 'str'>
print(name3) # <class 'str'>
print(name4) # <class 'str'>
print(type(name)) # <class 'str'>
print(type(name2)) # <class 'str'>
print(type(name3)) # <class 'str'>
print(type(name4)) # <class 'str'>

In [ ]:
#String Concatenation
first_name = 'rohit'
last_name = 'sharma'
print(first_name + ' ' + last_name) # Rohit sharma

In [ ]:
#Type Conversion

user_name = 'John'
age = 40
print(user_name + age) # TypeError: can only concatenate str (not "int") to str
    # This would work in Javscript where it would convert the result to string type

In [ ]:
#Type Conversion

user_name = 'John'
age = 40
print(user_name + ' is  ' +str(age)) # TypeError: can only concatenate str (not "int") to str
    # This would work in Javscript where it would convert the result to string type

In [ ]:
first_name = 'Rohit'
last_name = 'Sharma'
welcome_message = "Welcome" + " " + first_name + " " + last_name
print(welcome_message) # Welcome Rohit sharma

In [ ]:
first_name = 'Rohit'
last_name = 'Sharma'
welcome_message = f'Welcome {first_name} {last_name}'
print(welcome_message) # Welcome Rohit sharma