In [ ]:
print "Print" # python 2

In [3]:
#Basically its our first progra
print("Hello, World!") #python 3

Hello, World!

In [4]:
#basic calculation
2+5

7

In [5]:
#Opeators and data type
print(2 + 3)   # addition(+)
print(3 - 1)   # subtraction(-)
print(2 * 3)   # multiplication(*)
print(3 / 2)   # division(/)
print(3 ** 2)  # exponential(**)
print(3 % 2)   # modulus(%)
print(3 // 2)  # Floor division operator(//)

# Checking data types using type fuction

print(type(10))                  # Int
print(type(3.14))                # Float
print(type(1 + 3j))              # Complex
print(type('Asabeneh'))          # String
print(type([1, 2, 3]))           # List
print(type({'name':'Asabeneh'})) # Dictionary
print(type({9.8, 3.14, 2.7}))    # Set
print(type((9.8, 3.14, 2.7)))    # Tuple

5
2
6
1.5
9
1
1
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'list'>
<class 'dict'>
<class 'set'>
<class 'tuple'>

## Python Comments
Comments can be used to explain Python code.

Comments can be used to make the code more readable.

Comments can be used to prevent execution when testing code.

<h3> Creating a Comment </h3>
Comments starts with a # nd Python will ignore them:

In [6]:
#print("Hello, World!")
print("Cheers, Mate!")

Cheers, Mate!

In [7]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

In [8]:

#This is a comment

###Variables
Variables are containers for storing data values.

In [9]:
x = 5
y = "Vivek"
print(x)
print(y)

5
Vivek

In [10]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [ ]:
#we will see how to check data  type, now we are going to see how change it is called as casting

In [12]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0
print(type(x))

<class 'str'>

### Case-Sensitive
Variable names are case-sensitive.

In [13]:
#legal variable name
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [14]:
#Camel Case
#Each word, except the first, starts with a capital letter:

myVariableName = "John"
#Pascal Case
#Each word starts with a capital letter:

MyVariableName = "John"
#Snake Case
#Each word is separated by an underscore character:

my_variable_name = "John"

In [15]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [16]:
#One Value to Multiple Variables

x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [17]:
#Output Variables
x = "awesome "
print("Python is " + x)

Python is awesome

In [18]:
x = "Python is "
y = "awesome"
z =  x + y
print(z)

Python is awesome

In [19]:
# Variables in Python

first_name = 'Asabeneh'
last_name = 'Yetayeh'
country = 'Finland'
city = 'Helsinki'
age = 250
is_married = True
skills = ['HTML', 'CSS', 'JS', 'React', 'Python']
person_info = {
    'firstname':'Asabeneh', 
    'lastname':'Yetayeh', 
    'country':'Finland',
    'city':'Helsinki'
    }

In [20]:
# Printing the values stored in the variables

print('First name:', first_name)
print('First name length:', len(first_name))
print('Last name: ', last_name)
print('Last name length: ', len(last_name))
print('Country: ', country)
print('City: ', city)
print('Age: ', age)
print('Married: ', is_married)
print('Skills: ', skills)
print('Person information: ', person_info)

First name: Asabeneh
First name length: 8
Last name:  Yetayeh
Last name length:  7
Country:  Finland
City:  Helsinki
Age:  250
Married:  True
Skills:  ['HTML', 'CSS', 'JS', 'React', 'Python']
Person information:  {'firstname': 'Asabeneh', 'lastname': 'Yetayeh', 'country': 'Finland', 'city': 'Helsinki'}

In [21]:
# Declaring multiple variables in one line

first_name, last_name, country, age, is_married = 'Asabeneh', 'Yetayeh', 'Helsink', 250, True

print(first_name, last_name, country, age, is_married)
print('First name:', first_name)
print('Last name: ', last_name)
print('Country: ', country)
print('Age: ', age)
print('Married: ', is_married)

Asabeneh Yetayeh Helsink 250 True
First name: Asabeneh
Last name:  Yetayeh
Country:  Helsink
Age:  250
Married:  True

In [23]:
# What is variables ?
# Data types
# Operators
# Conditionals
# lIST
# lOOP
# SET 
# TUPLES
# DICTIONARY
# FUNCTIONS

## Numbers
a = 1
b = 2
total = a + b
print(total)

3

In [24]:
gravity = 9.81
mass = 75
weight = mass * gravity

print(weight)

735.75

In [25]:
radius = 10

area = 3.14 * radius ** 2

print(area)

314.0

In [26]:
# Data types: numbers(Integers, float, complex), 
# string, booleans, list, set, tuple, dictionary, None

print(type (9.81))
print(type(10))
print(type('Asabeneh'))
print(type(True))
print(type(False))
print(type(2 > 1))
print(type([1, 2, 3]))
print(type({1, 2, 3, 4}))
print(type((1, 2, 3, 4, 5)))
print(type({'kirja':'book','koulu':'school'}))
print(type(1 +2j))

# Booleans
print(True)
print(False)

# String

<class 'float'>
<class 'int'>
<class 'str'>
<class 'bool'>
<class 'bool'>
<class 'bool'>
<class 'list'>
<class 'set'>
<class 'tuple'>
<class 'dict'>
<class 'complex'>
True
False

In [27]:
first_name = 'Asabeneh'
last_name = 'Yetayeh'

full_name = first_name + ' ' + last_name
print(full_name)

## methods of String
# uppper, lower, title
print(first_name)
print(first_name.upper())
print(first_name.lower())
print('i love PythoN'.title())
print(first_name.swapcase())

language = 'I love Python'
print(language.split())
programming_lang = 'python, R, matlab, and Java'
print(programming_lang.split(','))
print(' I love Python. '.strip())

Asabeneh Yetayeh
Asabeneh
ASABENEH
asabeneh
I Love Python
aSABENEH
['I', 'love', 'Python']
['python', ' R', ' matlab', ' and Java']
I love Python.

In [28]:
# Operators: Arithmetic operators, Comparsions, logical operator

print(1 > 2)
print(2 >= 1)
print(1 < 2)
print(1 <= 2)
print(1 == 1)
print(1 != 1)
print(1 == '1')
print(2 == 'two')
print(1 is 1)
print(1 is not 2)
print(1 is 2)

False
True
True
True
True
False
False
False
True
True
False

In [29]:
# and or not
print(2 < 5 and 1 > 0)
print(2 < 5 and 1 < 0)
print(2 > 5 and 1 < 0)

print(2 < 5 or 1 > 0)
print(2 < 5 or 1 < 0 )
print(2 > 5 or 1 < 0)
print(not not 2 > 1)

True
False
False
True
True
False
True