# Variables

A variable is a location in memory used to store some data (value).

They are given unique names to differentiate between different memory locations. The rules for writing a variable name is same as the rules for writing identifiers in Python.

We don't need to declare a variable before using it. In Python, we simply assign a value to a variable and it will exist. We don't even have to declare the type of the variable. This is handled internally according to the type of value we assign to the variable.

# Variable Assignments

In [7]:
#simple python data types
type_int = 1
type_float = 1.5
type_complex = 2+5j
print(type(type_int))
print(type(type_float))
print(type(type_complex))

<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
#We use the assignment operator (=) to assign values to a variable

a = 10
b = 5.5
c = "Python"

In [ ]:
a

10

In [ ]:
type(a)

int

In [ ]:
id(a)

94104260029216

# Multiple Assignments

In [ ]:
a, b, c = 10, 5.5, "Python"

In [ ]:
a = b = c = "Python" #assign the same value to multiple variables at once

In [2]:
a = 2
b = a
c = b
type(b)

int

In [3]:
id(a)

94284423281184

In [4]:
id(c)

94284423281184

In [6]:
x = 5
y = 3
  
# converting x and y into complex number
z = complex(x,y);
  
# printing real and imaginary part of complex number
print (z.real)
  
print (z.imag)
print(z)

5.0
3.0
(5+3j)

# Storage Locations

In [ ]:
x = 3

print(id(x))               #print address of variable x

140372891159288

In [ ]:
y = 3

print(id(y))               #print address of variable y

140372891159288

Observation:

x and y points to same memory location

In [ ]:
y = 2
print(id(y))               #print address of variable y

140372891159312

# Data Types

Every value in Python has a datatype. Since everything is an object in Python programming, data types are actually classes and variables are instance (object) of these classes.

# Numbers

Integers, floating point numbers and complex numbers falls under Python numbers category. They are defined as int, float and complex class in Python.

We can use the type() function to know which class a variable or a value belongs to and the isinstance() function to check if an object belongs to a particular class.

In [ ]:
a = 5                               #data type is implicitly set to integer
print(a, " is of type", type(a))

(5, ' is of type', <type 'int'>)

In [ ]:
a = 2.5                            #data type is changed to float
print(a, " is of type", type(a))

(2.5, ' is of type', <type 'float'>)

In [ ]:
a = 1 + 2j                          #data type is changed to complex number
print(a, " is complex number?") 
print(isinstance(1+2j, complex))

((1+2j), ' is complex number?')
True

# Boolean

 Boolean represents the truth values False and True

In [ ]:
a = True                          #a is a boolean type
print(type(a))

<type 'bool'>

# Python Strings

String is sequence of Unicode characters. 

We can use single quotes or double quotes to represent strings. 

Multi-line strings can be denoted using triple quotes, ''' or """.

A string in Python consists of a series or sequence of characters - letters, numbers, and special characters. 

Strings can be indexed - often synonymously called subscripted as well. 

Similar to C, the first character of a string has the index 0.

In [ ]:
s = "Hello i am vivek patil"
print(s)

Hello i am vivek patil

In [ ]:
print(s[0])
#last char s[len(s)-1] or s[-1]

H

In [ ]:
#slicing
s[5:]

' i am vivek patil'

### Mutable vs Imutable
An object whose internal state can be changed is mutable. On the other hand, immutable doesn't allow any change in the object once it has been created.

# Python List

List is an ordered sequence of items. It is one of the most used datatype in Python and is very flexible. All the items in a list do not need to be of the same type.

Declaring a list is , Items separated by commas are enclosed within brackets [ ].

Lists are used to store multiple items in a single variable. Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

In [ ]:
a = [10, 20.5, "Hello"]
print(a[1])               #print 1st index element

20.5

Lists are mutable, meaning, value of elements of a list can be altered.

In [ ]:
a[1] = 30.7
print(a)

[10, 30.7, 'Hello']

# Python Tuple

Tuple is an ordered sequence of items same as list.The only difference is that tuples are immutable. Tuples once created cannot be modified.

Use Tuple
- If your data should or does not need to be changed.
- Tuples are faster than lists. 
- We should use Tuple instead of a List if we are defining a constant set of values and all we are ever going to do with it is iterate through it.
- If we need an array of elements to be used as dictionary keys, we can use Tuples.

In [ ]:
t = (1, 1.5, "ML")

In [ ]:
print(t[1]) #extract particular element

1.5

In [ ]:
t[1] = 1.25

TypeError: ignored

# Python Set

Set is an unordered collection of unique items. Set is defined by values separated by comma inside braces { }. Items in a set are not ordered.

In [ ]:
a = {10, 30, 20, 40, 5}
print(a)

{5, 40, 10, 20, 30}

In [ ]:
print(type(a))             #print type of a

<class 'set'>

We can perform set operations like union, intersection on two sets. Set have unique values.

In [ ]:
s = {10, 20, 20, 30, 30, 30}
print(s)                    #automatically set won't consider duplicate elements

{10, 20, 30}

In [ ]:
print(s[1]) #we can't print particular element in set because 
            #it's unorder collections of items

TypeError: ignored

# Python Dictionary

Dictionary is an unordered collection of key-value pairs.

In Python, dictionaries are defined within braces {} with each item being a pair in the form key:value. Key and value can be of any type.

In [ ]:
d = {'a': "apple", 'b': "bat"}
print d['a']

SyntaxError: ignored

# Conversion between Datatypes

We can convert between different data types by using different type conversion functions like int(), float(), str() etc.

In [ ]:
float(5)     #convert interger to float using float() method

5.0

In [ ]:
int(100.5)   #convert float to integer using int() method

100

In [ ]:
str(20)      #convert integer to string

'20'

Conversion to and from string must contain compatible values.

In [ ]:
int('10p')

ValueError: ignored

In [ ]:
user = "satish"
lines = 100

print("Congratulations, " + user + "! You just wrote " + str(lines) + " lines of code" )
#remove str and gives error

Congratulations, satish! You just wrote 100 lines of code

We can convert one sequence to other

In [ ]:
a = [1, 2, 3]

print(type(a))      #type of a is list 

s = set(a)          #convert list to set using set() method

print(type(s))      #now type of s is set

<class 'list'>
<class 'set'>

In [ ]:
list("Hello")       #convert String to list using list() method

['H', 'e', 'l', 'l', 'o']