### List

Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] etc.

In [ ]:
mylist = ["python", "java", "SQL"]
mylist

['apple', 'banana', 'cherry']

### Ordered
When we say that lists are ordered, it means that the items have a defined order, and that order will not change.

If you add new items to a list, the new items will be placed at the end of the list.

### Changeable
The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

In [ ]:
thislist = ["python", "java", "SQL"]
thislist[1] = "java"
print(thislist)

['python', 'java', 'SQL']

In [ ]:
thislist = ["python", "java", "SQL",'ruby','php','html']
thislist[1:3] = ["go", "css"]
print(thislist)

['python', 'go', 'css', 'ruby', 'php', 'html']

In [ ]:
thislist = ["python", "java", "SQL"]
thislist[1:2] = ["go", "css"]
print(thislist)

['python', 'go', 'css', 'SQL']

In [ ]:
thislist = ["python", "java", "SQL"]
thislist[1:3] = ["go"]
print(thislist)

['python', 'go']

### Allow Duplicates
Since lists are indexed, lists can have items with the same value:

In [ ]:
thislist = ["python", "java", "SQL",'ruby','php','html']
print(thislist)

['python', 'java', 'SQL', 'ruby', 'php', 'html']

In [ ]:
thislist = ["python", "java", "SQL"]
print(thislist[1])

java

In [ ]:
thislist = ["python", "java", "SQL"]
print(thislist[-1])

SQL

In [ ]:
thislist = ["python", "java", "SQL",'ruby','php','html']
print(thislist)
print(thislist[2:5])

['python', 'java', 'SQL', 'ruby', 'php', 'html']
['SQL', 'ruby', 'php']

In [ ]:
thislist = ["python", "java", "SQL",'ruby','php','html']
print(thislist)
print(thislist[:4])

['python', 'java', 'SQL', 'ruby', 'php', 'html']
['python', 'java', 'SQL', 'ruby']

In [ ]:
thislist = ["python", "java", "SQL",'ruby','php','html']
print(thislist)
print(thislist[2:])

['python', 'java', 'SQL', 'ruby', 'php', 'html']
['SQL', 'ruby', 'php', 'html']

In [ ]:
thislist = ["python", "java", "SQL"]
thislist.append("R")
print(thislist)

['python', 'java', 'SQL', 'R']

In [ ]:
thislist = ["python", "java", "SQL"]
thislist.insert(1, "R")
print(thislist)

['python', 'R', 'java', 'SQL']

In [ ]:
thislist = ["python", "java", "SQL"]
tropical = ["mangoDB", "CSS", "Flask"]
thislist.extend(tropical)
print(thislist)

['python', 'java', 'SQL', 'mangoDB', 'CSS', 'Flask']

In [ ]:
thislist = ["python", "java", "SQL"]
thislist.remove("mangoDB")
print(thislist)

ValueError: ignored

In [ ]:
thislist = ["python", "java", "SQL"]
thislist.pop(1)
print(thislist)

In [ ]:
thislist = ["python", "java", "SQL"]
del thislist[0]
print(thislist)

In [ ]:
thislist = ["python", "java", "SQL"]
del thislist

In [ ]:
thislist = ["python", "java", "SQL"]
thislist.clear()
print(thislist)

[]

In [ ]:
thislist = ["python", "java", "SQL"]
for x in thislist:
  print(x)

python
java
SQL

In [ ]:
thislist = ["python", "java", "SQL"]
for i in range(len(thislist)):
  print(thislist[i])

python
java
SQL

### Python - List Comprehension

List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

In [ ]:
fruits = ["python", "java", "SQL"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['java']

### Sort List Alphanumerically

In [ ]:
thislist = ["python", "java", "SQL",'ruby','php','html']
thislist.sort()
print(thislist)

['SQL', 'html', 'java', 'php', 'python', 'ruby']

In [ ]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

In [ ]:
thislist = ["python", "java", "SQL",'ruby','php','html']
thislist.sort(reverse = True)
print(thislist)

['ruby', 'python', 'php', 'java', 'html', 'SQL']

In [ ]:
thislist = ["python", "java", "SQL"]
mylist = thislist.copy()
print(mylist)

['python', 'java', 'SQL']

In [ ]:
thislist = ["python", "java", "SQL"]
mylist = list(thislist)
print(mylist)

['python', 'java', 'SQL']

In [ ]:
list1 = ["python", "java", "SQL"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['python', 'java', 'SQL', 1, 2, 3]

In [ ]:
list1 = ["python", "java", "SQL"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['python', 'java', 'SQL', 1, 2, 3]